<div class="card-content">
    <div class="card-title">{{ character.name }}</div>
    <div class="card-body">
        <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" [alt]="character.name"
            class="image">
        <div class="list-available">
            <p>Available comics: {{ character.comics.available }}</p>
            <p>Available series: {{ character.series.available }}</p>
            <p>Available stories: {{ character.stories.available }}</p>
            <p>Available events: {{ character.events.available }}</p>
        </div>
    </div>
</div>