<div class="content">
    <div class="input-container">
        <app-search class="search-component" (emitSearchText)="searchCharacter($event)"></app-search>
    </div>

    <div class="card-container">
        <ng-container class="card-component" *ngFor="let character of dataCharacters | filter:page:searchText">
            <app-card-character class="card-component" [character]="character"></app-card-character>
        </ng-container>
    </div>

    <div class="btn-container" *ngIf="dataCharacters.length !== 0 && (dataCharacters | filter:page:searchText).length !== 0">
        <button class="btn" (click)="prevPage()">&#10094;&#10094; Previous</button>
        <button class="btn" (click)="nextPage()" [disabled]="(dataCharacters | filter:page:searchText).length < 6">
            Next &#10095;&#10095;
        </button>
    </div>

    <ng-container *ngIf="dataCharacters.length === 0 || (dataCharacters | filter:page:searchText).length === 0">
        <p>No results found.</p>
    </ng-container>

</div>